@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<html lang="ru">

<body>
    <!--<div class="main">
        
        <div class="content">
            <div class="content_resize">
             
                <div class="sidebar">
                    <div class="clr"></div>
                    <div class="gadget">
                        <h2 class="star"> Меню</h2>
                        <div class="clr"></div>
                        <ul class="sb_menu">
                            <li><a href="salads.html">Салаты</a></li>
                            <li><a href="drinks.html">Напитки</a></li>
                            <li><a href="sets.html">Сеты</a></li>
                            <li><a href="sushi.html">Суши</a></li>
                            <li><a href="rolls.html">Роллы</a></li>
                        </ul>
                    </div>

                    </div>
                <div class="mainbar">
                    <div class="article">

                        <div class="state">
                            <p>Суши-бар  寿司バー</p>
                            Насладиться любимыми роллами и суши можно не только, находясь в нашем суши-баре , но и в любом удобном месте в любое время! Служба доставки готова помочь вам в этом!

                            Ваш заказ мы доставим прямо вам домой или в офис! Быстро и точно в срок!

                            <p>Для вашего удобства, у нас доступны 2 способа оплаты заказа:</p>
                            <ul>
                                <li> Наличными, при получении заказа, </li>
                                <li> Безналичная оплата при получении заказа (либо в ресторане, либо курьеру через терминал). </li>
                            </ul>

                            При заказе от 600 руб. доставка осуществляется бесплатно + карту единого бонусного клуба вы получаете в подарок!

                            Служба доставки еды в Ульяновске открыта для вас ежедневно с 10:00 до 23:00

                            <p>Заказ можно оформить так же по номеру доставки : +7 (8422) 304-221.</p>
                            Спасибо, что выбрали нас сегодня!

                            <p>Суши-бар  寿司バー</p>
                            Насладиться любимыми роллами и суши можно не только, находясь в нашем суши-баре , но и в любом удобном месте в любое время! Служба доставки готова помочь вам в этом!

                            Ваш заказ мы доставим прямо вам домой или в офис! Быстро и точно в срок!

                            <p>Для вашего удобства, у нас доступны 2 способа оплаты заказа:</p>
                            <ul>
                                <li> Наличными, при получении заказа, </li>
                                <li> Безналичная оплата при получении заказа (либо в ресторане, либо курьеру через терминал). </li>
                            </ul>

                            При заказе от 600 руб. доставка осуществляется бесплатно + карту единого бонусного клуба вы получаете в подарок!

                            Служба доставки еды в Ульяновске открыта для вас ежедневно с 10:00 до 23:00

                            <p>Заказ можно оформить так же по номеру доставки : +7 (8422) 304-221.</p>
                        </div>
                    </div>

                    <div class="gadget">

                        <!-- </ul> --
                    </div>
                </div>
                <div class="clr"></div>
            </div>
        </div>
        

    </div> --> 
    <div class="col-12 col-sm-6 col-md-4 col-xl">
            <div class="main">
                <div class="content">

                    <p>Суши-бар  寿司バー</p>
                    Насладиться любимыми роллами и суши можно не только, находясь в нашем суши-баре , но и в любом удобном месте в любое время! Служба доставки готова помочь вам в этом!

                    Ваш заказ мы доставим прямо вам домой или в офис! Быстро и точно в срок!

                    <p>Для вашего удобства, у нас доступны 2 способа оплаты заказа:</p>
                    <ul>
                        <li> Наличными, при получении заказа, </li>
                        <li> Безналичная оплата при получении заказа (либо в ресторане, либо курьеру через терминал). </li>
                    </ul>

                    При заказе от 600 руб. доставка осуществляется бесплатно + карту единого бонусного клуба вы получаете в подарок!

                    Служба доставки еды в Ульяновске открыта для вас ежедневно с 10:00 до 23:00

                    <p>Заказ можно оформить так же по номеру доставки : +7 (8422) 304-221.</p>
                    Спасибо, что выбрали нас сегодня!

                    <p>Суши-бар  寿司バー</p>
                    Насладиться любимыми роллами и суши можно не только, находясь в нашем суши-баре , но и в любом удобном месте в любое время! Служба доставки готова помочь вам в этом!

                    Ваш заказ мы доставим прямо вам домой или в офис! Быстро и точно в срок!

                    <p>Для вашего удобства, у нас доступны 2 способа оплаты заказа:</p>
                    <ul>
                        <li> Наличными, при получении заказа, </li>
                        <li> Безналичная оплата при получении заказа (либо в ресторане, либо курьеру через терминал). </li>
                    </ul>

                    При заказе от 600 руб. доставка осуществляется бесплатно + карту единого бонусного клуба вы получаете в подарок!

                    Служба доставки еды в Ульяновске открыта для вас ежедневно с 10:00 до 23:00

                    <p>Заказ можно оформить так же по номеру доставки : +7 (8422) 304-221.</p>
                </div>
            </div>
        </div>
</body>
</html>

